<form class="{{cssClass}}" autocomplete="off">

    <div class="flexrow">
        <i style="font-size:1.8em;padding:5px;" id="drag-link"
            class="fas fa-external-link-alt fa-rotate-180 short-field"></i>
        <input name="name" type="text" value="{{system.name}}" placeholder="Entry Title" />
    </div>


    <select name="folder">
        {{#select system.folder}}
            <option value=""></option>
            {{#each folders}}
                <option value="{{this.id}}">{{this.name}}</option>
            {{/each}}
        {{/select}}
    </select>

    {{editor enrichedBiography target="content" button=true editable=editable}}
    {{#if editable}}
        <button type="submit" name="submit"><i class="fas fa-feather-alt"></i> {{ localize "JOURNAL.Submit"}}</button>
    {{/if}}
</form>