{{log "hud-mini.hbs this" this}}

<div class="main-mini-combat-hud">

    {{#if hasTempEffects}}
        <div class="items-list effects-list">
            <div class="mini-hud-effect">
                {{#each effects as |effect|}}
                    {{#if effect.isVisible}}
                        <div class="effect" data-effect-id="{{effect.id}}" data-tooltip="{{effect.name}}">
                            <div class="">
                                <img class="effect-image" src="{{effect.icon}}" />
                            </div>
                        </div>
                    {{/if}}
                {{/each}}
            </div>
        </div>
    {{/if}}


    <div class="mini-hud-sdsa-features">
        <div class="specials-group">
            {{#if (eq actor.type 'npc')}}
                {{#if (or actor.system.specialAttacks actor.system.specialDefenses actor.system.magicresist)}}
                    {{#if actor.system.specialAttacks}}
                        <div class="mini-hud-sa">
                            SA: {{actor.system.specialAttacks}}
                        </div>
                    {{/if}}
                    {{#if (or actor.system.specialDefenses actor.system.magicresist)}}
                        <div class="mini-hud-sd">
                            {{#if actor.system.specialDefenses}}SD: {{actor.system.specialDefenses}} {{/if}}
                            {{#if actor.system.magicresist}}MR: {{actor.system.magicresist}}{{/if}}
                        </div>
                    {{/if}}
                {{/if}}
            {{else}}
                <div class="mini-hud-sd">
                    {{ localize "ARS.classname" }} {{actor.system.classname}}
                </div>
            {{/if}}
        </div>
    </div>

    <div class="action-buttons-menu hud-mini-popup">
        {{!-- actions-block-list-mini --}}
        {{!-- buttons for actions on the actor --}}
        {{#if actor.system.actions.length}}
            <div class="mini-actions-list card-buttons hud-actions">
                <div class="mini-hud-grouping-border">
                    <legend>{{localize "ARS.actions.actionsTitle"}}</legend>
                    <div class="action-block">
                        <div class="actions actions-mini item-titles">
                            {{> "systems/ars/templates/apps/parts/actions-block-mini.hbs" actor=actor actions=system.actions actionList=system.actionList showActionHeader=true }}
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}

        {{!-- buttons for actions on items --}}
        {{#if actor.system.itemActionCount}}
            <div class="mini-actions-list card-buttons hud-actions">
                <div class="mini-hud-grouping-border">
                    <legend>{{localize "TYPES.Item.item"}} {{localize "ARS.actions.actionsTitle"}}</legend>
                    <div class="action-block">
                        <div class="actions actions-mini item-titles">
                            {{> "systems/ars/templates/actor/parts/actions-block-inventory-mini.hbs"}}
                        </div>
                    </div>
                </div>
            </div>
        {{/if}}

        {{!-- weaponslist --}}
        <div class="mini-weapon-list hud-actions">
            {{#if actor.weapons.length}}
                <div class="mini-hud-grouping-border">
                    <legend>{{localize "ARS.weapons"}}</legend>
                    <div class="hud-actions">
                        <div class="mini-actions-buttons">
                            {{#each actor.weapons as |item id|}}
                                {{#if item.notAmmo}}
                                    <li class="{{#if item.isRanged}}{{#if item.ammoCount}}hasAmmoLeft {{else}}noAmmoLeft {{/if}}{{/if}} mini-action item flexrow weapon-combat with-background-image"
                                        data-control-type="weapon" data-id="{{item.id}}" data-type="{{item.type}}"
                                        data-tooltip="{{item.name}}" style="background-image: url('{{item.img}}')">
                                        <div class="mini-action-button action-name rollable flexrow chatCard-roll"
                                            data-id="{{item.id}}">
                                            <div class="item-name">{{item.name}}</div>
                                        </div>
                                    </li>
                                {{/if}}
                            {{/each}}
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>

        {{!-- skillslist --}}
        <div class="mini-skills-list hud-actions">
            {{#if actor.skills.length}}
                <div class="mini-hud-grouping-border">
                    <legend>{{localize "ARS.skills"}}</legend>
                    <div class="mini-actions-buttons">
                        {{#each actor.skills as |item id|}}
                            <li class="mini-action item with-background-image" data-id="{{item.id}}"
                                data-type="{{item.type}}" data-tooltip="{{item.name}}"
                                style="background-image: url('{{item.img}}')">
                                <div class="mini-action-button action-name rollable chatCard-roll">
                                    <div class="item-name">{{item.name}}</div>
                                </div>
                            </li>
                        {{/each}}
                    </div>
                </div>
            {{/if}}
        </div>

        {{!-- memorizationlist --}}
        <div class="mini-spells-list hud-actions">
            {{#if actor.hasSpellSlots}}
                <div class="mini-hud-grouping-border">
                    <legend>{{localize "ARS.spells"}}</legend>
                    <div class="spells-list">
                        {{#each system.memorizations as |slotData spellType|}}
                            <div class="mini-actions-buttons">
                                {{#each slotData.spellslots.value as |slotCount level| }}
                                    {{#if slotCount}}
                                        {{#each (lookup slotData.memslots level) as | memslot slotindex|}}
                                            {{#if memslot.id}}
                                                <li class="{{#if memslot.cast}}memorization-used {{/if}}mini-action item with-background-image memorization-slot flexrow"
                                                    data-control-type="memorization" data-uuid="{{memslot.uuid}}"
                                                    data-id="{{memslot.id}}" data-level="{{level}}"
                                                    data-index="{{slotindex}}" data-type="{{spellType}}"
                                                    data-owned="{{memslot.owned}}" data-tooltip="{{memslot.name}}"
                                                    style="background-image: url('{{memslot.img}}')">
                                                    <div class="mini-action-button action-name rollable spellCard-roll"
                                                        data-id="{{memslot.id}}">
                                                        <div class="item-name">{{memslot.name}}</div>
                                                    </div>
                                                </li>
                                            {{/if}}
                                        {{/each}}
                                    {{/if}}
                                {{/each}}
                            </div>
                        {{/each}}
                        {{!-- </div> --}}
                    </div>
                </div>
            {{/if}}
        </div>

    </div>
</div>