.attack-result-container {
    text-align: center;
    padding: 5px;
}

.check-flavor.dice-flavor {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.check-test {
    margin-bottom: 10px;
}

.sheet-card .spell-details,
.sheet-card .chat-description {
    padding: 10px !important;
}

.chatCard-expand-view {
    height: 15px;
}

.sheet-card .fa-expand-alt::after {
    content: 'Expand Details:';
    font-size: var(--font-size-13);
    font-family: var(--font-primary);
    margin-left: 5px;
    font-weight: 100;
}
.sheet-card .fa-compress-alt::after {
    content: '';
}

.sheet-card .fa-expand-alt:before,
.sheet-card .fa-compress-alt::before {
    content: '\f424';
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-left: -5px;
    background: #bfbfbf;
}

.combat-situationals {
    margin: 1px;
    input {
        text-align: center;
        width: 24px;
        border-top: none;
        border-left: none;
        border-right: none;
    }
    .situation {
        font-weight: 700;
    }
    .flexcol {
        flex: 0 0 30px;
    }
    .attack-left {
        text-align: left;
    }
    .damage-right {
        text-align: right;
        justify-content: right;
    }
}

.failedCheck {
    background-color: rgb(194, 167, 167);
}

.succeedCheck {
    background-color: rgb(198, 218, 198);
}

.hitSuccess {
    // background-color: rgb(216, 209, 157);
    background-color: rgb(198, 218, 198);
}

.hitFailed {
    // background-color: rgb(198, 202, 218);
    background-color: rgb(194, 167, 167);
}

.hpdamage {
    background-color: palevioletred;
}

.hpheal {
    background-color: aquamarine;
}

.attackResult,
.rolledText,
.testResult,
.hpadjustment,
.undoButton,
.spellCard-name,
.weaponCard-name {
    justify-content: center;
    text-align: center;
    align-items: center;
    border: 1px groove;
    border-radius: 5px;
    margin-top: 1px;
    margin-bottom: 1px;
    margin-right: 2px;
    margin-left: 2px;
}

.center-text {
    text-align: center;
}

.rolledTotal {
    font-weight: bold;
    font-size: larger;
}

.card-buttons {
    margin-top: 4px;
}
.chatCard-button {
    height: 34px;
    width: 99%;
    margin-bottom: 2px !important;
}
.chatCard-button:hover {
    box-shadow: none !important;
    background-color: var(--color-border-light-primary);
    color: white;
}
.chatCard-button .flexrow .action-icon {
    flex-basis: 32px;
}

.traded-list {
    padding: 1px 0;
    border-bottom: 1px solid #bbb;

    div:nth-of-type(odd) {
        background-color: $item-background-color;
    }
    div:nth-of-type(even) {
        background-color: $item-background-alt-color;
    }

    .tradeChat-list {
        padding: 1px;
    }
}
.action-card,
.attack-card,
.weapon-card,
.actionChat-list,
.skill-card,
.dice-roll,
.tradeChat-list {
    .general-subheader {
        background-color: var(--ars_purple_dark);
        color: white !important;
        display: flex;
        align-items: center;
        justify-content: center;
        font-family: var(--font-primary);
        font-weight: 900 !important;
        border-radius: 0 5px 5px 0;
        padding-right: 40px;
        font-size: 1em !important;
    }
    .short-field {
        img {
            border: none;
        }
    }
    .action-icon {
        flex-basis: 25px;
        flex-grow: 0;
        font-size: 0.99em;
        padding-right: 3px;
        img {
            vertical-align: middle;
            border: none;
        }
    }
}

.chat-message.img.chat-profile-img {
    flex: 0 0 64px;
    height: 64px;
    width: 64px;
    margin-right: 10px;
}

// .message-content,
// .window-content {
//     .a25-image {
//         flex-basis: 50px;
//         flex-grow: 0;
//         background-color: var(--color-text-dark-primary);
//         img {
//             vertical-align: middle;
//         }
//     }
//     .dice-flavor {
//         font-weight: bold;
//         font-size: 1.1em;
//         text-align: center;
//         background-color: cadetblue;
//     }
// }

// .app.window-app.ars.popoutCard {
//     max-width: 300px;
// }

.chat-message,
.app.window-app.ars {
    button {
        border-radius: 5px;
    }

    select {
        border-radius: 5px;
    }
    .hpadjustment,
    .testResult {
        margin-bottom: 10px;
    }

    .window-content,
    .message-content {
        // .weapon-card {
        //     background-color: rgb(201, 184, 165);
        // }
        .action-title {
            font-weight: bold;
            font-size: 1.3em;
            text-align: center;
        }

        .chatCard-description {
            margin-top: 2px;
            margin-bottom: 2px;
            background: rgb(240, 239, 209);
            padding: 8px;
            border-radius: 5px;
        }
        .chatCard-description-short {
            min-height: 5px;
            max-height: 90px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .chatCard-description-full {
            white-space: wrap;
        }

        .dice-flavor,
        .check-result,
        .attack-results {
            padding: 10px;
            width: auto;
            text-align: center;
            border-radius: 5px;
            font-size: 1.5em;
        }

        .a25-image {
            flex-basis: 50px;
            flex-grow: 0;
            background-color: var(--color-text-dark-primary);
            img {
                vertical-align: middle;
            }
        }

        .actor-save-img,
        .actor-damage-img {
            flex-basis: 50px;
            flex-grow: 0;
            img {
                vertical-align: middle;
            }
        }
        .dice-roll {
            .initiative-flavor {
                font-weight: bold;
                font-size: 1.3em;
                text-align: center;
                // background-color: cadetblue;
                color: white;
                padding: 1px;
            }
        }

        .spell-card {
            .grid-container {
                display: inline-grid;
                grid-template-columns: auto auto;
                margin-top: 2px;
                border-radius: 5px;
                background-color: rgba(255, 255, 255, 0.8);
                padding: 1px;
                width: 100%;
            }

            .grid-item {
                padding: 1px;
                text-align: left;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            .spell-title {
                font-weight: bold;
                font-size: 1.3em;
                color: red;
                text-align: center;

                // when linking items players dont own in spell cards
                .content-link {
                    background-color: black;
                }
            }
        }
    }
}

// this is the background on various/chat windows

// .chat-message {
// 	background: url(ui/textured_paper.png) repeat;
//     // background: white;
// }
// #chat-form textarea {
// 	background: url(ui/textured_paper.png) repeat;
//     // background: white;
// }
// .inline-roll .dice-tooltip {
// 	background: url(ui/textured_paper.png) repeat;
//     // background: white;
// }
