.ars-combat-hud {
    background: transparent;
    box-shadow: none;

    .window-resizable-handle {
        display: none;
    }

    &:hover {
        background-color: rgba(0, 0, 0, 0.37);
        .window-resizable-handle {
            display: block;
        }
    }

    .window-header {
        background: var(--ars_purple_dark);
    }

    .window-content {
        background: transparent;
    }

    .main-mini-combat-hud {
        margin: -8px;
        margin-bottom: 10px;
    }

    .mini-weapon-list {
        .noAmmoLeft {
            opacity: 0.5;
        }
    }
    .mini-actions-list {
        .noCharges {
            opacity: 0.5;
        }
    }
    /* Specific styling for elements under 'mini-hud-sa' and 'mini-hud-sd' classes */
    .specials-group {
        color: white;
        overflow-wrap: break-word; /* Allows the text to wrap onto the next line */

        .mini-hud-sa {
            padding: 2px 0px 2px 8px;
            background-color: rgb(128, 39, 39);
        }

        .mini-hud-sd {
            padding: 2px 0px 2px 8px;
            background-color: var(--ars_navy);
        }
    }

    $effect-image-size: 24px;
    .mini-hud-effect {
        padding: 1px;
        background-color: var(--ars_purple_dark);
        display: flex;
        justify-content: flex-start;

        .effect-image {
            flex: 0 0 $effect-image-size;
            height: $effect-image-size;
            background-size: $effect-image-size;
            border: none;
            flex-shrink: 1;
        }
    }

    .action-buttons-menu {
        display: flex;
        flex-direction: row;
        flex-flow: wrap;

        legend {
            color: white;
            background-color: var(--ars_red);
            font-size: var(--font-size-12);
            margin-bottom: 5px;
        }
        .item-titles {
            padding: 0;
        }

        .mini-action-button {
            padding: 1px;
            margin: 1px;
            height: 50px;
            width: 100%;
            word-wrap: break-word;
            border: 0.5px solid #fff;
            overflow: hidden;

            .memorization-slot {
                border: none;
            }
        }

        li.mini-action {
            height: 50px;
            width: 50px;

            &:hover,
            &:focus {
                transform: scale(1.2);
                cursor: pointer;
            }
        }

        .hud-mini-popup {
            background-color: black;
            padding: 1px;
            margin: 2px;
        }

        .memorization-slot {
            border: none;
            margin: 0px;
        }
        .mini-actions-list .mini-action .action-name,
        .item-name {
            color: #fff;
            background: var(--color-border-dark-1);
            height: 15px;
            position: relative;
            top: 32px;
            overflow: hidden;
        }

        .hud-actions {
            pointer-events: all;
            margin: 2px;

            .mini-actions-buttons {
                margin-bottom: 4px;
                color: white;
                border: none;
                display: flex;
                flex-wrap: wrap;
                justify-content: left;
                align-items: center;
                gap: 1px;
                margin: auto;
                list-style: none;
                // background-color: $hud-background-color;

                .with-background-image {
                    background-size: 100%;
                    .item-name {
                        text-shadow: 0 0 3px #ffffff;
                    }
                }

                .no-image {
                    color: black;
                    background-color: rgb(194, 192, 192);
                    -webkit-text-stroke: 0.25px white;
                    .item-name {
                        text-shadow: 0 0 3px #918c8c;
                    }
                }

                .action-name {
                    border: 0.5px solid #666;
                    text-align: center;
                    font-size: 0.8em;
                }
            }
        }
    } // end action-buttons-menu
}
