.sidebar-tab {
    .party-tracker {
        padding: 1px;
        margin: 1px;

        .general-header {
            text-align: left;
            padding-left: 5px;
            font-size: 1rem;
            font-weight: normal;
            background: transparent;
            color: #fff;
            margin: 3px 0 3px 0;
        }
        .general-subheader {
            text-align: center;
            font-weight: bold;
            padding: 3px;
        }

        .general-footer {
            min-height: 3px;
            width: 100%;
        }

        input,
        select {
            color: black;
        }

        .party-commands {
            .boxed {
                text-align: center;
                font-size: 0.75rem;
                border: 0.5px solid var(--color-bg-btn-minor-active);
                border-radius: 6px;
                margin-right: 2px;
                &:hover,
                &:focus {
                    background-color: grey;
                    cursor: pointer;
                }

                .time-type {
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    justify-content: center;
                }
            }
        }
        .party-members {
            .entry {
                align-items: center;
                .member {
                    font-size: large;
                    font-weight: bold;
                }
                .henchman {
                    color: aqua;
                }
                .token-image {
                    margin: 0;
                    flex: 0 0 32px;
                    height: 32px;
                    margin-right: 10px;
                }
            }
        }
        .party-logs {
            .date {
                color: gray;
            }
            .log {
                color: greenyellow;
            }
        }

        .control {
            flex-basis: 25px;
            flex-grow: 0;
            text-align: center;
            font-size: 0.99em;
        }

        .party-awards {
            .award-xp {
                flex-shrink: 1;
            }
        }

        select.award-destination {
            width: 100px;
        }
    }
}
