{{!-- {{log "actions-block-inventory.hbs actor" actor}} --}}
{{#if actor.actionInventory}}
    {{#each actor.actionInventory as |item id|}}
        {{#if (eq item.system.location.state 'nocarried') }}
            {{!-- do nothin, not showing actions for not carried gear --}}
        {{else}}
            {{#if item.system.actions}}
                {{> "systems/ars/templates/apps/parts/actions-block.hbs" actor=../actor actions=item.system.actions actionList=item.system.actionList item=item}}
            {{/if}}
        {{/if}}
    {{/each}}
{{/if}}