{{!-- {{log "description-tab, actor----------->" actor}}
{{log "description-tab, data----------->" data}} --}}

{{editor enrichedBiography target="system.details.biography.value" button=true editable=editable}}