{{log "currency-sheet.hbs" this}}
<form class="{{cssClass}}" autocomplete="off">
    {{!-- {{log "currency-sheet.hbs, data----------->" data}}
    {{log "currency-sheet.hbs, item----------->" item}} --}}

    {{> "systems/ars/templates/item/parts/item-header.hbs"}}

    {{!-- Sheet Body --}}
    <section class="sheet-body">
        {{> "systems/ars/templates/item/parts/item-description-block.hbs"}}
    </section>
</form>