:root {
    --ars_navy: #2a2e75;
    --ars_purple_dark: #25163f;
    --ars_purple_light: #2e2631;
    --ars_purple_light2: #7c6378;
    --ars_red: #e22522;
    --ars_yellow: #e8dbae;
    --ars_highlight: #e3dadc;
}

.ars_frame {
    background-color: brown;
    border: 2px solid var(--ars_purple_light);
    outline: 5px solid var(--ars_red);
    outline-offset: -20px;
}

/* This affects the width of the entire scrollbar */
::-webkit-scrollbar {
    width: 12px;
}

/* This affects the width of the draggable scrolling element (the "thumb") */
::-webkit-scrollbar-thumb {
    background: darkgrey;
    border-radius: 6px;
}

// * {
//   margin: 0;
//   padding: 0;
//   box-sizing: border-box;
//   color: --default-color;
//   color: --default-color;
// }

.hidden {
    display: none;
}

// ol, ul, li {
//   list-style-type: none;
//   margin: 0;
//   padding: 0px;
// }
// ol, ul {
//   padding-bottom: 2px;
// }

.grouping-border {
    border: 2px groove;
    padding: 1px;
    margin: 6px;
}

fieldset.border-top {
    border: none;
    border-top: 1px solid #000;
}

fieldset.no-border,
fieldset.border-none {
    border: none;
}

fieldset.border-bottom {
    border: none;
    border-bottom: 1px solid #000;
}

fieldset {
    border: 1px solid #000;
    padding-top: 3px;
    margin: 1px;
    margin-top: 2px;
}

legend {
    font-weight: 600;
    text-align: center;
    align-items: center;
    align-content: center;
    align-self: center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
}

.general-header {
    text-align: left;
    font-weight: normal;
    background: var(--ars_purple_dark);
    padding: 3px 0px;
    font-size: var(--font-size-13);
    color: #fff;
    margin: 3px 0 3px 0;
    padding-left: 6px;
}

.general-subheader {
    text-align: center;
    font-weight: normal;
    background: var(--color-border-light-primary);
    padding: 3px;
}

.general-footer {
    min-height: 3px;
    width: 100%;
}

.button-box {
    background-color: rgba(206, 162, 67, 0.514);
    border: 3px outset grey;
}
// this is the css for inline-roll clickables
// a.inline-roll {
//   margin: 5px;
// }

.playerlist-trade-button {
    line-height: inherit;
    font-size: 0.85rem;
    width: calc(100% - 0.5rem);
    margin: 0.25rem;
    background: rgba(60, 60, 60, 0.6);
    border: 1px solid black;
    color: white;
}

// change the default css for select to have a white background
select,
input[type],
textarea {
    // height: calc(var(--form-field-height) + 1px);
    // background: rgba(0, 0, 0, 0.05);
    background: white;
    margin: 2px 2px 2px 0px !important;
    // border: 1px solid var(--color-border-light-tertiary);
    // border-radius: 3px;
    // padding: 0 3px;
    // text-overflow: ellipsis;
    // font-family: inherit;
    // font-size: inherit;
}
input[type='range'] {
    background: transparent;
}
input[disabled] {
    border: 1px solid var(--color-border-light-tertiary) !important;
    background: #ccc;
}

ol.subdirectory {
    margin-left: 10px;
}
