.window-app {
    font-family: $font-primary;
    // background-image: url(ui/Paperbrown.PNG) !important;
    // background-color: $default-background-color;
    // background-image: linear-gradient(to bottom right, $background-dark, $background-light) !important;
    // background-size: cover;
}

.window-content {
    // background-image: url(ui/parchment02_light.png) !important;
    // background-image: url(ui/parchment.jpg) !important;
    // background-image: linear-gradient(to bottom right, $background-dark, $background-light) !important;
    // background-size: cover;
}

.character {
    // background-image: url(ui/Paperbrown.PNG) !important;
    // background-image: url(ui/parchment.jpg) !important;
    // background-image: linear-gradient(to bottom right, $background-dark, $background-light) !important;
    // background-size: cover;
}

// #outerContainer #mainContainer {
//   height:100% !important;
// }
.sheet nav.sheet-tabs,
.sheet-header nav.sheet-tabs {
    color: white;

    .tab-items,
    .tabs {
        text-align: center;
        width: 100%;
        height: 100%;
    }

    .item {
        align-content: center;
        padding: 3px;
        margin: 0.5px;
        border-radius: 4px 4px 0 0;
        background: var(--ars_purple_dark);
        color: white;
        font-size: var(--font-size-13);

        &:hover {
            text-shadow: none;
            color: var(--color-border-dark-1);
            background: var(--color-border-light-secondary);
            cursor: pointer;
        }
        &:focus {
            text-shadow: none;
            color: var(--color-border-dark-1);
            background: var(--color-border-light-highlight);
            cursor: pointer;
        }
    }
    .item.active {
        text-shadow: none;
        color: var(--color-border-dark-1);
        background: var(--color-border-light-highlight);
        border: 1px solid #2a2e756e;
        border-bottom: none;
    }
}

// this is the background on various/most windows

// .window-app .window-content {
// 	background: url(ui/textured_paper.png) repeat;
//   // background: white;
// }
