{{ log "chat/chatCard-attack.hbs this" this }}
<div class="sheet-card attack-card">
    <div class="flexrow" style="background-color: var(--color-text-dark-primary);">
        <div class="a25-image">
            <img src="{{source.img}}" width="50" height="50" />
        </div>
        <div class="action-title general-subheader">
            <div class="secure-name" data-type="item" data-uuid="{{weapon.uuid}}" data-id="{{weapon.id}}">
                {{weapon.name}}
            </div>
        </div>
        <div class="a25-image" style="">
            <img src="{{weapon.img}}"
                data-tooltip="{{#if weapon.isIdentifiedRaw}}{{{weapon.name}}}{{else}}{{concat (localize "ARS.unknown") (concat " " weapon.type)}}{{/if}}"
                width="50" height="50" />
        </div>
    </div>

    <div class="attackResult {{#if succeeded}}hitSuccess{{else}}hitFailed{{/if}}">
        <div style="text-align: center;">
            <div class="attack-results"
                style="{{#if succeeded}}background-color: #2bce46;{{else}}background-color: #d90005;color: white;{{/if}}">
                {{#if succeeded}}{{localize "ARS.hit"}}{{else}}{{localize "ARS.missed"}}{{/if}}
            </div>
            <div class="attack-result-container">
                {{#if flavor}}
                    <div style="text-align: center;" class="dice-flavor attack-flavor">
                        {{{flavor}}}
                    </div>
                {{/if}}
                <div class="attack-text">
                    {{#if config.settings.autohitfail}}
                        {{#if succeeded}}
                            {{#if critical}}
                                <b>{{ localize "ARS.critical" }}</b> {{localize "ARS.armorclassabbr"}} {{hitnumber}}
                            {{else}}
                                {{localize "ARS.hit"}} {{localize "ARS.armorclassabbr"}} {{hitnumber}}
                            {{/if}}
                        {{else}}
                            {{#if fumble}}
                                <b>{{localize "ARS.fumbled"}}</b>
                            {{else}}
                                {{localize "ARS.missed"}}
                            {{/if}}
                        {{/if}}
                    {{else}}
                        {{#if succeeded}}
                            {{localize "ARS.hit"}} {{localize "ARS.armorclassabbr"}} {{hitnumber}}
                        {{else}}
                            {{localize "ARS.missed"}}
                        {{/if}}
                    {{/if}}
                </div>
                <div class="gm-only-view attack-hit-details">
                    {{localize "ARS.target"}} {{localize "ARS.armorclassabbr"}} {{targetnumber}},
                    {{#if succeeded}}
                        {{localize "ARS.hit"}}
                    {{else}}
                        {{localize "ARS.hit"}} {{localize "ARS.armorclassabbr"}} {{hitnumber}},
                        {{localize "ARS.missed"}}
                    {{/if}}
                    {{#if (or (eq @root.config.settings.systemVariant '0') (eq @root.config.settings.systemVariant '1'))}}
                        {{!-- matrix cap is AC 11 so it will only ever show missed by 1 if its above AC 10 so lets just say missed --}}
                        {{#ifnoteq hitnumber 11}} by {{difference}}{{/ifnoteq}}
                    {{else}}
                        by {{difference}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{!--
    </fieldset> --}}

    {{> "systems/ars/templates/chat/parts/chatCard-dice-roll.hbs" roll=roll}}

    {{#if (eq weapon.type 'weapon')}}
        {{> "systems/ars/templates/chat/parts/chatCard-weapon.hbs" owner=owner item=weapon sourceToken=source.token
        sourceActor=source config=config}}
    {{/if}}
</div>