{{ log "chat/chatCard-check.hbs" this }}

<div class="sheet-card">
    <div class="testResult {{#if passedcheck}}succeedCheck{{else}}failedCheck{{/if}}">
        <div class="flexrow"
            style="{{#if passedcheck}}background-color: #2bce46;{{else}}background-color: #d90005;color: white;{{/if}}">
            <div class="actor-save-img">
                {{#if roll.target.document.texture.src}}
                    <img src="{{roll.target.document.texture.src}}" width="50" height="50" />
                {{else}}
                    <img src="{{source.img}}" width="50" height="50" />
                {{/if}}
            </div>
            <div class="check-result">
                {{#if passedcheck}}{{localize "ARS.succeeded"}}{{else}}{{localize "ARS.failed"}}{{/if}}
            </div>
            <div class="actor-save-img">
                {{#if roll.actionSource.img}}
                    <img src="{{roll.actionSource.img}}" width="50" height="50" />
                {{else}}
                    {{#if roll.skill.img}}
                        <img src="{{roll.skill.img}}" width="50" height="50" />
                    {{/if}}
                {{/if}}
            </div>
        </div>
        {{#if flavor}}
            <div style="text-align: center;" class="check-flavor dice-flavor">
                {{{flavor}}}
            </div>
        {{/if}}
        <div class="check-test">
            {{#if passedcheck}}{{localize "ARS.succeeded"}}{{else}}{{localize "ARS.failed"}}{{/if}} {{#if difference}}by
                {{difference}}{{/if}}, <a data-tooltip="{{roll.checkTargetFormula}}">{{localize "ARS.target"}}
                {{targetnumber}}</a>
        </div>
    </div>

    {{> "systems/ars/templates/chat/parts/chatCard-dice-roll.hbs" roll=roll}}

</div>