.fa-times,
.fa-minus,
.fa-asterisk,
.fa-exclamation-triangle {
  color: red;
}

.fa-plus,
.fa-check-circle,
.fa-scroll,
.fa-thumbs-up {
  color: #21e121;
}

/* Global styles */
:root {
  --ars_navy: #2a2e75;
  --ars_purple_dark: #25163f;
  --ars_purple_light: #2e2631;
  --ars_purple_light2: #7c6378;
  --ars_red: #e22522;
  --ars_yellow: #e8dbae;
  --ars_highlight: #e3dadc;
}

.ars_frame {
  background-color: brown;
  border: 2px solid var(--ars_purple_light);
  outline: 5px solid var(--ars_red);
  outline-offset: -20px;
}

/* This affects the width of the entire scrollbar */
::-webkit-scrollbar {
  width: 12px;
}

/* This affects the width of the draggable scrolling element (the "thumb") */
::-webkit-scrollbar-thumb {
  background: darkgrey;
  border-radius: 6px;
}

.hidden {
  display: none;
}

.grouping-border {
  border: 2px groove;
  padding: 1px;
  margin: 6px;
}

fieldset.border-top {
  border: none;
  border-top: 1px solid #000;
}

fieldset.no-border,
fieldset.border-none {
  border: none;
}

fieldset.border-bottom {
  border: none;
  border-bottom: 1px solid #000;
}

fieldset {
  border: 1px solid #000;
  padding-top: 3px;
  margin: 1px;
  margin-top: 2px;
}

legend {
  font-weight: 600;
  text-align: center;
  align-items: center;
  align-content: center;
  align-self: center;
  justify-content: center;
  justify-items: center;
  justify-self: center;
}

.general-header {
  text-align: left;
  font-weight: normal;
  background: var(--ars_purple_dark);
  padding: 3px 0px;
  font-size: var(--font-size-13);
  color: #fff;
  margin: 3px 0 3px 0;
  padding-left: 6px;
}

.general-subheader {
  text-align: center;
  font-weight: normal;
  background: var(--color-border-light-primary);
  padding: 3px;
}

.general-footer {
  min-height: 3px;
  width: 100%;
}

.button-box {
  background-color: rgba(206, 162, 67, 0.514);
  border: 3px outset grey;
}

.playerlist-trade-button {
  line-height: inherit;
  font-size: 0.85rem;
  width: calc(100% - 0.5rem);
  margin: 0.25rem;
  background: rgba(60, 60, 60, 0.6);
  border: 1px solid black;
  color: white;
}

select,
input[type],
textarea {
  background: white;
  margin: 2px 2px 2px 0px !important;
}

input[type=range] {
  background: transparent;
}

input[disabled] {
  border: 1px solid var(--color-border-light-tertiary) !important;
  background: #ccc;
}

ol.subdirectory {
  margin-left: 10px;
}

.window-app {
  font-family: "Sans-serif", "Book Antiqua", "Sitka";
}

.sheet nav.sheet-tabs,
.sheet-header nav.sheet-tabs {
  color: white;
}
.sheet nav.sheet-tabs .tab-items,
.sheet nav.sheet-tabs .tabs,
.sheet-header nav.sheet-tabs .tab-items,
.sheet-header nav.sheet-tabs .tabs {
  text-align: center;
  width: 100%;
  height: 100%;
}
.sheet nav.sheet-tabs .item,
.sheet-header nav.sheet-tabs .item {
  align-content: center;
  padding: 3px;
  margin: 0.5px;
  border-radius: 4px 4px 0 0;
  background: var(--ars_purple_dark);
  color: white;
  font-size: var(--font-size-13);
}
.sheet nav.sheet-tabs .item:hover,
.sheet-header nav.sheet-tabs .item:hover {
  text-shadow: none;
  color: var(--color-border-dark-1);
  background: var(--color-border-light-secondary);
  cursor: pointer;
}
.sheet nav.sheet-tabs .item:focus,
.sheet-header nav.sheet-tabs .item:focus {
  text-shadow: none;
  color: var(--color-border-dark-1);
  background: var(--color-border-light-highlight);
  cursor: pointer;
}
.sheet nav.sheet-tabs .item.active,
.sheet-header nav.sheet-tabs .item.active {
  text-shadow: none;
  color: var(--color-border-dark-1);
  background: var(--color-border-light-highlight);
  border: 1px solid rgba(42, 46, 117, 0.431372549);
  border-bottom: none;
}

.grid,
.grid-2col {
  display: grid;
  grid-column: span 2/span 2;
  grid-template-columns: repeat(2, minmax(0, 1fr));
  gap: 1px;
  margin: 2px 0;
  padding: 0;
}

.grid-3col {
  grid-column: span 3/span 3;
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.grid-4col {
  grid-column: span 4/span 4;
  grid-template-columns: repeat(4, minmax(0, 1fr));
}

.grid-5col {
  grid-column: span 5/span 5;
  grid-template-columns: repeat(5, minmax(0, 1fr));
}

.grid-6col {
  grid-column: span 6/span 6;
  grid-template-columns: repeat(6, minmax(0, 1fr));
}

.grid-7col {
  grid-column: span 7/span 7;
  grid-template-columns: repeat(7, minmax(0, 1fr));
}

.grid-8col {
  grid-column: span 8/span 8;
  grid-template-columns: repeat(8, minmax(0, 1fr));
}

.grid-9col {
  grid-column: span 9/span 9;
  grid-template-columns: repeat(9, minmax(0, 1fr));
}

.grid-10col {
  grid-column: span 10/span 10;
  grid-template-columns: repeat(10, minmax(0, 1fr));
}

.grid-11col {
  grid-column: span 11/span 11;
  grid-template-columns: repeat(11, minmax(0, 1fr));
}

.grid-12col {
  grid-column: span 12/span 12;
  grid-template-columns: repeat(12, minmax(0, 1fr));
}

.flex-group-center,
.flex-group-left,
.flex-group-right {
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2px;
  border: 1px solid #999;
}

.flex-group-left {
  justify-content: flex-start;
  text-align: left;
}

.flex-group-right {
  justify-content: flex-end;
  text-align: right;
}

.flex-text-center {
  text-align: center;
  padding: 0;
  font-weight: normal;
}

.flexrowtrunc {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.flexrowtrunc > * {
  flex: 1;
}

.flex-center {
  align-items: center;
  justify-content: center;
  text-align: center;
}

.flex-between {
  justify-content: space-between;
}

/* ----------------------------------------- */
/*  Flexbox                                  */
/* ----------------------------------------- */
.flexrow {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.flexrow > * {
  flex: 1;
}
.flexrow .flex1 {
  flex: 1;
}
.flexrow .flex2 {
  flex: 2;
}
.flexrow .flex3 {
  flex: 3;
}
.flexrow .flex4 {
  flex: 4;
}
.flexrow .flex5 {
  flex: 5;
}
.flexrow .flex6 {
  flex: 6;
}
.flexrow .flexshrink0 {
  flex-shrink: 0;
}
.flexrow .flexshrink1 {
  flex-shrink: 1;
}
.flexrow .flexshrink2 {
  flex-shrink: 2;
}
.flexrow .flexshrink3 {
  flex-shrink: 3;
}
.flexrow .flexshrink4 {
  flex-shrink: 4;
}
.flexrow .flexshrink5 {
  flex-shrink: 5;
}
.flexrow .text-trunc {
  flex-shrink: 0;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flexcol {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.flexcol > * {
  flex: 1;
}
.flexcol .flex1 {
  flex: 1;
}
.flexcol .flex2 {
  flex: 2;
}
.flexcol .flex3 {
  flex: 3;
}
.flexcol .flex4 {
  flex: 4;
}
.flexcol .flex5 {
  flex: 5;
}
.flexcol .flex6 {
  flex: 6;
}
.flexcol .text-trunc {
  flex-shrink: 0;
  min-width: 0;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

/* Styles limited to ars sheets */
.memorization-slot {
  font-size: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px groove;
  border-radius: 2px;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 2px;
  margin-left: 2px;
  text-align: center;
}
.memorization-slot .memorization-slot-empty select {
  background-color: rgba(43, 255, 0, 0.25);
}
.memorization-slot .short-spell-field {
  flex-grow: 0;
  text-align: center;
  flex-basis: 40px;
  flex-grow: 0;
  text-align: left;
}
.memorization-slot .long-spell-field {
  flex-grow: 2;
  margin-right: 3px;
  text-align: center;
}

.memorization-used {
  opacity: 0.5;
}

.memorization-titles {
  align-content: center;
  margin: 0px;
  padding: 0px;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.1);
}

.memorization-controls {
  flex: 0 0 60px;
  text-align: right;
  margin-right: 5px;
}

.effect-controls {
  flex: 0 0 10px;
  text-align: right;
  margin-right: 5px;
}

.biography {
  border: 1px groove;
  border-radius: 5px;
  height: 100%;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
}

.details-header .resource-save {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.character .tab-item,
.npc .tab-item,
.lootable .tab-item {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  color: inherit;
}
.character .tab-item .icon-text-container,
.npc .tab-item .icon-text-container,
.lootable .tab-item .icon-text-container {
  display: inline-block;
  text-align: center;
}
.character .tab-item .fas,
.npc .tab-item .fas,
.lootable .tab-item .fas {
  display: block;
}
.character .actorname,
.npc .actorname,
.lootable .actorname {
  font-size: 2em;
}
.character .race-background-block .itemsbytype-align-title,
.npc .race-background-block .itemsbytype-align-title,
.lootable .race-background-block .itemsbytype-align-title {
  text-align: center;
}
.character .actor-titles.center,
.npc .actor-titles.center,
.lootable .actor-titles.center {
  text-align: center;
}
.character .actor-titles,
.npc .actor-titles,
.lootable .actor-titles {
  list-style: none;
  margin: 0px;
  padding: 3px;
  background: var(--color-border-light-primary);
  font-weight: 600;
}
.character .actor-titles .actor-header,
.npc .actor-titles .actor-header,
.lootable .actor-titles .actor-header {
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.25);
}
.character .actor-titles .actor-image,
.npc .actor-titles .actor-image,
.lootable .actor-titles .actor-image {
  flex: 0 0 24px;
  height: 24px;
  background-size: 24px;
  border: none;
  margin-right: 5px;
  flex-shrink: 1;
}
.character .actor-titles .actor,
.npc .actor-titles .actor,
.lootable .actor-titles .actor {
  height: 25px;
  line-height: 24px;
  padding: 1px 0;
  border-bottom: 1px solid #bbb;
}
.character .actor-titles .actor .actor-name,
.npc .actor-titles .actor .actor-name,
.lootable .actor-titles .actor .actor-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 1.01em;
  text-align: left;
  align-items: center;
  font-weight: 600;
}
.character .share-looted-coins,
.npc .share-looted-coins,
.lootable .share-looted-coins {
  text-align: center;
  font-size: 1.02em;
}
.character .actor-lootable-portrait,
.npc .actor-lootable-portrait,
.lootable .actor-lootable-portrait {
  flex: 0 0 64px;
}
.character .currency .coin-value,
.npc .currency .coin-value,
.lootable .currency .coin-value {
  flex-grow: 3;
  text-align: center;
}
.character .currency .control,
.npc .currency .control,
.lootable .currency .control {
  flex-shrink: 2;
}
.character .currency .coin-type,
.npc .currency .coin-type,
.lootable .currency .coin-type {
  flex-shrink: 1;
}

.action-sheet .general-properties-column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.action-sheet .general-properties-row:after {
  content: "";
  display: table;
  clear: both;
}

.hud-mini-popup {
  padding: 1px;
  margin: 1px;
}

.action-sheet-block .actionGroup:nth-of-type(odd) {
  background-color: rgb(230, 229, 224);
}
.action-sheet-block .actionGroup:nth-of-type(even) {
  background-color: rgb(212, 212, 211);
}

.action-sheet.action-name {
  flex: auto 1;
}

.action-sheet .action-image {
  flex: 0 0 24px;
  height: 24px;
  width: 24px;
  margin-right: 5px;
}

.action-block-images {
  align-items: center;
  align-content: center;
  text-align: left;
}

.actionImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

div.action-resource-trunc > select {
  width: 100px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.actionGroup {
  border: 1px groove;
  border-radius: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 2px;
  margin-left: 2px;
}

.actionEntry {
  border-width: 0.5px;
  border-style: groove hidden hidden hidden;
  font-size: 1.01em;
  justify-content: center;
  text-align: center;
  align-items: center;
  height: 24px;
  background-color: rgb(230, 229, 224);
}

.action-dice-visual {
  flex: 0 0 24px;
  height: 24px;
  background-size: 24px;
  border: none;
  margin-right: 5px;
  flex-shrink: 1;
}

.action-control-buttons {
  align-content: center;
  text-align: center;
}
.action-control-buttons .green {
  color: rgb(90, 163, 18);
}

.action-control {
  padding-right: 5px;
  text-align: right;
}

.action-header {
  margin-bottom: 0;
  margin-top: 0;
}

.delete-damage {
  align-items: center;
  align-content: center;
  text-align: center;
}

.action-titles,
.action-list {
  list-style: none;
  margin: 0px;
  padding: 0px;
}
.action-titles .action-header,
.action-list .action-header {
  font-weight: bold;
  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.25) 25%, rgba(0, 0, 0, 0.25) 75%, rgba(255, 255, 255, 0) 100%);
}
.action-titles .action,
.action-list .action {
  height: 25px;
  line-height: 24px;
  padding: 1px 0;
  border-bottom: 1px solid #bbb;
}
.action-titles .action .action-name,
.action-list .action .action-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 1.01em;
  text-align: left;
  align-items: center;
}
.action-titles .action .action-name,
.action-list .action .action-name {
  cursor: pointer;
}
.action-titles .action .action-name.rollable:hover .item-image, .action-titles .action .action-name.rollable:hover .action-image,
.action-list .action .action-name.rollable:hover .item-image,
.action-list .action .action-name.rollable:hover .action-image {
  background-image: url("../../icons/svg/d20-grey.svg") !important;
}
.action-titles .action .action-name.rollable .item-image:hover, .action-titles .action .action-name.rollable .action-image:hover,
.action-list .action .action-name.rollable .item-image:hover,
.action-list .action .action-name.rollable .action-image:hover {
  background-image: url("../../icons/svg/d20-black.svg") !important;
}
.action-titles .action .action-image,
.action-list .action .action-image {
  flex: 0 0 24px;
  height: 24px;
  background-size: 24px;
  border: none;
  margin-right: 5px;
  flex-shrink: 1;
}

.ars-combat-hud {
  background: transparent;
  box-shadow: none;
  /* Specific styling for elements under 'mini-hud-sa' and 'mini-hud-sd' classes */
}
.ars-combat-hud .window-resizable-handle {
  display: none;
}
.ars-combat-hud:hover {
  background-color: rgba(0, 0, 0, 0.37);
}
.ars-combat-hud:hover .window-resizable-handle {
  display: block;
}
.ars-combat-hud .window-header {
  background: var(--ars_purple_dark);
}
.ars-combat-hud .window-content {
  background: transparent;
}
.ars-combat-hud .main-mini-combat-hud {
  margin: -8px;
  margin-bottom: 10px;
}
.ars-combat-hud .mini-weapon-list .noAmmoLeft {
  opacity: 0.5;
}
.ars-combat-hud .mini-actions-list .noCharges {
  opacity: 0.5;
}
.ars-combat-hud .specials-group {
  color: white;
  overflow-wrap: break-word;
  /* Allows the text to wrap onto the next line */
}
.ars-combat-hud .specials-group .mini-hud-sa {
  padding: 2px 0px 2px 8px;
  background-color: rgb(128, 39, 39);
}
.ars-combat-hud .specials-group .mini-hud-sd {
  padding: 2px 0px 2px 8px;
  background-color: var(--ars_navy);
}
.ars-combat-hud .mini-hud-effect {
  padding: 1px;
  background-color: var(--ars_purple_dark);
  display: flex;
  justify-content: flex-start;
}
.ars-combat-hud .mini-hud-effect .effect-image {
  flex: 0 0 24px;
  height: 24px;
  background-size: 24px;
  border: none;
  flex-shrink: 1;
}
.ars-combat-hud .action-buttons-menu {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
}
.ars-combat-hud .action-buttons-menu legend {
  color: white;
  background-color: var(--ars_red);
  font-size: var(--font-size-12);
  margin-bottom: 5px;
}
.ars-combat-hud .action-buttons-menu .item-titles {
  padding: 0;
}
.ars-combat-hud .action-buttons-menu .mini-action-button {
  padding: 1px;
  margin: 1px;
  height: 50px;
  width: 100%;
  word-wrap: break-word;
  border: 0.5px solid #fff;
  overflow: hidden;
}
.ars-combat-hud .action-buttons-menu .mini-action-button .memorization-slot {
  border: none;
}
.ars-combat-hud .action-buttons-menu li.mini-action {
  height: 50px;
  width: 50px;
}
.ars-combat-hud .action-buttons-menu li.mini-action:hover, .ars-combat-hud .action-buttons-menu li.mini-action:focus {
  transform: scale(1.2);
  cursor: pointer;
}
.ars-combat-hud .action-buttons-menu .hud-mini-popup {
  background-color: black;
  padding: 1px;
  margin: 2px;
}
.ars-combat-hud .action-buttons-menu .memorization-slot {
  border: none;
  margin: 0px;
}
.ars-combat-hud .action-buttons-menu .mini-actions-list .mini-action .action-name,
.ars-combat-hud .action-buttons-menu .item-name {
  color: #fff;
  background: var(--color-border-dark-1);
  height: 15px;
  position: relative;
  top: 32px;
  overflow: hidden;
}
.ars-combat-hud .action-buttons-menu .hud-actions {
  pointer-events: all;
  margin: 2px;
}
.ars-combat-hud .action-buttons-menu .hud-actions .mini-actions-buttons {
  margin-bottom: 4px;
  color: white;
  border: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  align-items: center;
  gap: 1px;
  margin: auto;
  list-style: none;
}
.ars-combat-hud .action-buttons-menu .hud-actions .mini-actions-buttons .with-background-image {
  background-size: 100%;
}
.ars-combat-hud .action-buttons-menu .hud-actions .mini-actions-buttons .with-background-image .item-name {
  text-shadow: 0 0 3px #ffffff;
}
.ars-combat-hud .action-buttons-menu .hud-actions .mini-actions-buttons .no-image {
  color: black;
  background-color: rgb(194, 192, 192);
  -webkit-text-stroke: 0.25px white;
}
.ars-combat-hud .action-buttons-menu .hud-actions .mini-actions-buttons .no-image .item-name {
  text-shadow: 0 0 3px #918c8c;
}
.ars-combat-hud .action-buttons-menu .hud-actions .mini-actions-buttons .action-name {
  border: 0.5px solid #666;
  text-align: center;
  font-size: 0.8em;
}

.dialog .dialog-content .flexrow {
  align-items: center;
}
.dialog .dialog-content select {
  width: 98%;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 2px;
  margin-right: 2px;
}
.dialog .dialog-content .dialog-icon {
  flex-basis: 25px;
  flex-grow: 0;
  font-size: 0.99em;
  margin-right: 5px;
}
.dialog .dialog-content .dialog-icon img {
  vertical-align: middle;
}
.dialog input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: auto;
  opacity: 1;
}
.dialog input[name=modifier] {
  margin-left: 2px;
  width: 25%;
}

.attack_dialog .lbl_attack_dialog {
  background: #fff;
  border: 1px solid var(--ars_navy);
  margin-bottom: 4px;
}

.item-form {
  font-family: "Sans-serif", "Book Antiqua", "Sitka";
}

.action-sheet > section > form > section > div.short-editor > div > div {
  min-height: 150px;
}

.editor {
  height: 100%;
}
.editor .editor-content {
  min-height: 300px;
}

.tox .tox-editor-container {
  background: #fff;
}
.tox .tox-edit-area {
  padding: 0 4px;
}

#item-browser-sheet .search-filters-box {
  background-color: rgb(199, 199, 199);
}
#item-browser-sheet .item-header,
#item-browser-sheet .filter-titles {
  text-transform: uppercase;
}
#item-browser-sheet .item-browser-sheet {
  padding: 6px;
}
#item-browser-sheet .filter-item-type,
#item-browser-sheet .filter-source {
  flex-shrink: 1;
}
#item-browser-sheet .item-filter-value,
#item-browser-sheet .item-filter-header,
#item-browser-sheet .filter-name,
#item-browser-sheet .item-weapon,
#item-browser-sheet .item-item,
#item-browser-sheet .item-wt,
#item-browser-sheet .item-level,
#item-browser-sheet .item-ac,
#item-browser-sheet .item-skill,
#item-browser-sheet .item-weapon-type {
  margin-right: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
#item-browser-sheet .filter-name {
  flex-grow: 3;
}
#item-browser-sheet .item-filter-header {
  text-transform: uppercase;
}
#item-browser-sheet .item-filter-level,
#item-browser-sheet .item-filter-header-level,
#item-browser-sheet .item-wt,
#item-browser-sheet .item-cost {
  text-align: center;
}
#item-browser-sheet .item-list-controls {
  flex: 0 0 53px;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: right;
}
#item-browser-sheet .rollable:hover, #item-browser-sheet .rollable:focus {
  cursor: pointer;
  text-shadow: 0 0 8px red;
}
#item-browser-sheet .filter-search {
  flex-basis: 25px;
  flex-grow: 0;
  text-align: center;
}
#item-browser-sheet .filter-search:hover, #item-browser-sheet .filter-search:focus {
  cursor: pointer;
  text-shadow: 0 0 8px red;
}

.effect-change textarea {
  min-height: 80px;
  min-width: 100px;
  max-width: 200px;
  max-height: 100px;
}

.resource-label {
  font-weight: normal;
}

.resource-label-ability {
  font-weight: normal;
  text-transform: uppercase;
  font-size: 1.5em;
}

.resource-numberfield {
  font-size: 1.4em;
  width: 38px;
  padding: 0px;
  text-align: center;
  background-color: #fafafa;
}

input.resource-percent {
  font-size: 0.5em;
  width: 25px;
  padding: 3px;
  text-align: right;
}

.resource-number {
  font-size: 1.4em;
  width: 30px;
  padding: 0px;
  text-align: center;
}

.resource-title {
  font-weight: normal;
  text-align: center;
}

.resource-number-field {
  flex-basis: 50px;
  flex-grow: 0;
  text-align: center;
  font-size: 0.99em;
}
.resource-number-field input {
  margin: 0px 0;
  border-bottom: none;
}

.selected_item {
  background-color: #82ab82 !important;
}

.item-magic-checks {
  flex: 0 0 24px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.sheet.item {
  min-width: 500px;
  min-height: 470px;
}
.sheet.item select {
  width: 97%;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 2px;
  margin-right: 2px;
}
.sheet.item .general-properties-column {
  float: left;
  width: 33.33%;
  padding: 5px;
}
.sheet.item .item-skill-modifier-column.li {
  border: 1px groove black;
}
.sheet.item .general-properties-row:after {
  content: "";
  display: table;
  clear: both;
}
.sheet.item .item-check-label {
  margin-top: auto;
  margin-bottom: auto;
  margin-right: 5px;
}
.sheet.item .skill-mod-field {
  flex-basis: 60px;
  flex-grow: 0;
  text-align: center;
  font-size: 0.99em;
}
.sheet.item .skill-mod-field input {
  margin: 3px 0;
  border-bottom: none;
}

.icon-row .icon {
  border: 0px;
  filter: brightness(0);
}

.sheet-body .item-header-weapon {
  text-align: center;
  padding: 0;
  font-weight: normal;
}

.item-list.combat-memorization-block > * {
  padding: 4px;
}

.item-titles,
.item-list {
  list-style: none;
  margin: 0px;
  padding: 1px 0;
}
.item-titles #context-menu li.context-item,
.item-list #context-menu li.context-item {
  background: #23221d;
  background-color: #23221d;
}
.item-titles li:nth-of-type(odd),
.item-list li:nth-of-type(odd) {
  background-color: rgb(230, 229, 224);
}
.item-titles li:nth-of-type(even),
.item-list li:nth-of-type(even) {
  background-color: rgb(212, 212, 211);
}
.item-titles .item-container-collapsed,
.item-list .item-container-collapsed {
  flex: 0 0 8px;
  height: 8px;
  background-size: 8px;
  border: none;
  margin-right: 1px;
  flex-shrink: 1;
}
.item-titles .memslot-collapse,
.item-list .memslot-collapse {
  margin: auto;
}
.item-titles .memslot-expanded,
.item-list .memslot-expanded {
  margin-bottom: 10px;
}
.item-titles .initiative-roll-speed,
.item-list .initiative-roll-speed {
  flex-grow: 0;
  flex-basis: 25px;
}
.item-titles .in-container,
.item-list .in-container {
  margin-left: 10px;
}
.item-titles .in-container li:nth-of-type(odd),
.item-list .in-container li:nth-of-type(odd) {
  background-color: rgb(179, 179, 179);
}
.item-titles .in-container li:nth-of-type(even),
.item-list .in-container li:nth-of-type(even) {
  background-color: rgb(172, 172, 172);
}
.item-titles .in-container li:first-of-type::before,
.item-list .in-container li:first-of-type::before {
  height: 50%;
  top: 0;
}
.item-titles .in-container li:last-of-type::after,
.item-list .in-container li:last-of-type::after {
  border: none;
}
.item-titles .in-container .item,
.item-list .in-container .item {
  position: relative;
}
.item-titles .in-container .item::before, .item-titles .in-container .item::after,
.item-list .in-container .item::before,
.item-list .in-container .item::after {
  position: absolute;
  border-left: 1px solid black;
  top: 0;
  height: 50%;
  left: -5px;
  width: 5px;
  content: "";
}
.item-titles .in-container .item::before,
.item-list .in-container .item::before {
  border-bottom: 1px solid black;
  top: 0;
}
.item-titles .in-container .item::after,
.item-list .in-container .item::after {
  top: 50%;
}
.item-titles .item-header,
.item-list .item-header {
  font-weight: normal;
  font-size: var(--font-size-13);
  background: var(--ars_purple_dark);
  padding: 3px 0px 3px 6px;
  color: white;
}
.item-titles .item-subheader,
.item-list .item-subheader {
  font-weight: bold;
  font-size: var(--font-size-12);
  margin-top: 5px;
}
.item-titles .item,
.item-list .item {
  height: 25px;
  line-height: 24px;
  padding: 1px 0;
  border-bottom: 1px solid #bbb;
}
.item-titles .item .item-name,
.item-list .item .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 1.01em;
  text-align: left;
  align-items: center;
}
.item-titles .item .item-check-label .item-name,
.item-list .item .item-check-label .item-name {
  cursor: pointer;
}
.item-titles .item .item-check-label .item-name.rollable:hover .item-image,
.item-list .item .item-check-label .item-name.rollable:hover .item-image {
  background-image: url("../../icons/svg/d20-grey.svg") !important;
}
.item-titles .item .item-check-label .item-name.rollable .item-image:hover,
.item-list .item .item-check-label .item-name.rollable .item-image:hover {
  background-image: url("../../icons/svg/d20-black.svg") !important;
}
.item-titles .item .item-image,
.item-list .item .item-image {
  flex: 0 0 24px;
  height: 24px;
  background-size: 24px;
  border: none;
  margin-right: 5px;
  flex-shrink: 1;
}
.item-titles .item .icon-row .tooltip,
.item-list .item .icon-row .tooltip {
  position: relative;
  display: inline-block;
}
.item-titles .item .icon-row .tooltip .tooltip-text,
.item-list .item .icon-row .tooltip .tooltip-text {
  visibility: hidden;
  background-color: black;
  color: white;
  text-align: center;
  border-radius: 3px;
  padding: 2px 2px;
  position: absolute;
  z-index: 1;
}
.item-titles .item .icon-row .tooltip:hover .tooltip-text,
.item-list .item .icon-row .tooltip:hover .tooltip-text {
  visibility: visible;
}

.item .item-header-input .short-number,
.item .item-header-titles .short-number {
  flex-shrink: 1;
}
.item .item-header-input .short-text,
.item .item-header-titles .short-text {
  flex-shrink: 2;
}
.item .item-header-input .longer-number,
.item .item-header-titles .longer-number {
  flex-grow: 2;
}

.inventory .item-location {
  flex-basis: 25px;
  flex-grow: 0;
  text-align: center;
  align-items: center;
}
.inventory .item-name {
  flex: 2;
  margin: 0;
  overflow: hidden;
  font-size: 1.01em;
  text-align: left;
  align-items: center;
}
.inventory .magic {
  color: darkblue;
}
.inventory .gm-unidentified {
  color: red;
}

.short-field {
  flex-basis: 25px;
  flex-grow: 0;
  text-align: center;
  font-size: 0.99em;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.short-field.quantity {
  display: flex;
}
.short-field.quantity input {
  margin: 3px 0;
  border-bottom: none;
}

a.item-control.item-create {
  margin-left: 5px;
}

.item-controls {
  flex: 0 0 53px;
  text-align: right;
}

.item-spell {
  font-size: 1.01em;
}
.item-spell .spell-details-input {
  flex-grow: 2;
}
.item-spell .spell-details-block {
  padding: 3px;
}
.item-spell .spell-component-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3px;
  grid-auto-rows: minmax(10px, auto);
  width: 50px;
}
.item-spell .spell-component {
  font-size: 0.99em;
  margin: auto;
  width: 15px;
  height: 15px;
  text-align: center;
  align-content: center;
}

.item-spell {
  border: 1px groove;
  border-radius: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 2px;
  margin-left: 2px;
}

.npc .npc-sheet-header {
  flex: 0 0 64px;
  overflow: hidden;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
  margin-bottom: 2px;
}
.npc .npc-sheet-header img.npc-profile-img {
  flex: 0 0 64px;
  height: 64px;
  width: 64px;
  margin-right: 10px;
}
.npc .npc-label {
  font-weight: bold;
  text-transform: uppercase;
}
.npc .npc-sheet {
  padding: 0px;
  margin: 0px;
}
.npc .npc-th {
  text-align: left;
  font-weight: bold;
}
.npc .npc-data-label {
  border: 0.5px groove;
  font-weight: bold;
  margin-top: 0.5px;
  margin-bottom: 0px;
  margin-right: 1px;
  margin-left: 1px;
  padding-left: 2px;
}

td.npc-data-input,
td.npc-data-label,
th.npc-data-input,
th.npc-data-label {
  padding: 0px;
}

.character select,
.npc select,
.lootable select {
  width: 100%;
  padding-top: 1px;
  padding-bottom: 1px;
  margin-left: 2px;
  margin-right: 2px;
}
.character .rollable:hover, .character .rollable:focus,
.npc .rollable:hover,
.npc .rollable:focus,
.lootable .rollable:hover,
.lootable .rollable:focus {
  cursor: pointer;
  text-shadow: 0 0 8px red;
}
.character .sheet-header h1.character-name,
.npc .sheet-header h1.character-name,
.lootable .sheet-header h1.character-name {
  width: 100%;
  height: 100%;
}
.character .sheet-header h1.character-name input,
.npc .sheet-header h1.character-name input,
.lootable .sheet-header h1.character-name input {
  width: 95%;
  height: 100%;
}
.character .tab.main,
.character .tab.attributes,
.npc .tab.main,
.npc .tab.attributes,
.lootable .tab.main,
.lootable .tab.attributes {
  text-align: left;
}
.character .tab.main .ability-save-grid,
.character .tab.attributes .ability-save-grid,
.npc .tab.main .ability-save-grid,
.npc .tab.attributes .ability-save-grid,
.lootable .tab.main .ability-save-grid,
.lootable .tab.attributes .ability-save-grid {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 21%;
  gap: 0px;
  height: 100%;
}
.character .tab.main .ability-tables,
.character .tab.attributes .ability-tables,
.npc .tab.main .ability-tables,
.npc .tab.attributes .ability-tables,
.lootable .tab.main .ability-tables,
.lootable .tab.attributes .ability-tables {
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
  margin: 1px;
  padding: 1px;
}
.character .tab.main .save-stats,
.character .tab.attributes .save-stats,
.npc .tab.main .save-stats,
.npc .tab.attributes .save-stats,
.lootable .tab.main .save-stats,
.lootable .tab.attributes .save-stats {
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
  margin: 1px;
  padding: 1px;
}
.character .tab.main .save-stats .save-label,
.character .tab.attributes .save-stats .save-label,
.npc .tab.main .save-stats .save-label,
.npc .tab.attributes .save-stats .save-label,
.lootable .tab.main .save-stats .save-label,
.lootable .tab.attributes .save-stats .save-label {
  text-align: center;
  font-weight: 700;
  flex-grow: 0;
  grid-row-start: 1;
  grid-column-start: 1;
  grid-row-end: 2;
  grid-column-end: 2;
  margin: 1px;
  padding: 1px;
}
.character .tab.main .save-stats .save-value,
.character .tab.attributes .save-stats .save-value,
.npc .tab.main .save-stats .save-value,
.npc .tab.attributes .save-stats .save-value,
.lootable .tab.main .save-stats .save-value,
.lootable .tab.attributes .save-stats .save-value {
  font-weight: normal;
  text-align: center;
  border: 2px solid black;
  border-radius: 12px;
  padding: 2px;
  grid-row-start: 1;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-column-end: 3;
  margin: 1px;
  padding: 1px;
}
.character .tab.main .save-box,
.character .tab.attributes .save-box,
.npc .tab.main .save-box,
.npc .tab.attributes .save-box,
.lootable .tab.main .save-box,
.lootable .tab.attributes .save-box {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 1fr 1fr;
  gap: 0px;
}
.character .tab.main .save-box .saves-recalculate,
.character .tab.attributes .save-box .saves-recalculate,
.npc .tab.main .save-box .saves-recalculate,
.npc .tab.attributes .save-box .saves-recalculate,
.lootable .tab.main .save-box .saves-recalculate,
.lootable .tab.attributes .save-box .saves-recalculate {
  text-align: right;
}
.character .tab.main .flexcol,
.character .tab.attributes .flexcol,
.npc .tab.main .flexcol,
.npc .tab.attributes .flexcol,
.lootable .tab.main .flexcol,
.lootable .tab.attributes .flexcol {
  padding: 1px;
}
.character .tab.main .flexrow,
.character .tab.attributes .flexrow,
.npc .tab.main .flexrow,
.npc .tab.attributes .flexrow,
.lootable .tab.main .flexrow,
.lootable .tab.attributes .flexrow {
  padding: 1px;
}
.character .tab.main .resource,
.character .tab.attributes .resource,
.npc .tab.main .resource,
.npc .tab.attributes .resource,
.lootable .tab.main .resource,
.lootable .tab.attributes .resource {
  flex-grow: 2;
  border-bottom: 1px solid;
}
.character .tab.main .resource-input,
.character .tab.attributes .resource-input,
.npc .tab.main .resource-input,
.npc .tab.attributes .resource-input,
.lootable .tab.main .resource-input,
.lootable .tab.attributes .resource-input {
  height: 18px;
  border: none;
  border-bottom: 1px solid;
}
.character .tab.main label.ability-score,
.character .tab.attributes label.ability-score,
.npc .tab.main label.ability-score,
.npc .tab.attributes label.ability-score,
.lootable .tab.main label.ability-score,
.lootable .tab.attributes label.ability-score {
  font-size: 1.01em;
}
.character .tab.main label,
.character .tab.attributes label,
.npc .tab.main label,
.npc .tab.attributes label,
.lootable .tab.main label,
.lootable .tab.attributes label {
  font-size: 0.99em;
  font-weight: 600;
}
.character .tab.main select,
.character .tab.attributes select,
.npc .tab.main select,
.npc .tab.attributes select,
.lootable .tab.main select,
.lootable .tab.attributes select {
  height: 100%;
}
.character .tab.main .ability-tables,
.character .tab.attributes .ability-tables,
.npc .tab.main .ability-tables,
.npc .tab.attributes .ability-tables,
.lootable .tab.main .ability-tables,
.lootable .tab.attributes .ability-tables {
  text-align: center;
}
.character .tab.main .ability-tables .ability-label,
.character .tab.attributes .ability-tables .ability-label,
.npc .tab.main .ability-tables .ability-label,
.npc .tab.attributes .ability-tables .ability-label,
.lootable .tab.main .ability-tables .ability-label,
.lootable .tab.attributes .ability-tables .ability-label {
  text-transform: uppercase;
}
.character .tab.main .ability-tables .ability-score input,
.character .tab.attributes .ability-tables .ability-score input,
.npc .tab.main .ability-tables .ability-score input,
.npc .tab.attributes .ability-tables .ability-score input,
.lootable .tab.main .ability-tables .ability-score input,
.lootable .tab.attributes .ability-tables .ability-score input {
  align-items: center;
  font-size: 1.4em;
  width: 38px;
  padding: 0px;
  background-color: #fafafa;
}
.character .tab.main .ability-tables table,
.character .tab.attributes .ability-tables table,
.npc .tab.main .ability-tables table,
.npc .tab.attributes .ability-tables table,
.lootable .tab.main .ability-tables table,
.lootable .tab.attributes .ability-tables table {
  padding: 0px;
  margin: 0px;
}
.character .tab.main .ability-tables tr,
.character .tab.attributes .ability-tables tr,
.npc .tab.main .ability-tables tr,
.npc .tab.attributes .ability-tables tr,
.lootable .tab.main .ability-tables tr,
.lootable .tab.attributes .ability-tables tr {
  border-top: none;
}
.character .tab.main .ability-tables .fields,
.character .tab.attributes .ability-tables .fields,
.npc .tab.main .ability-tables .fields,
.npc .tab.attributes .ability-tables .fields,
.lootable .tab.main .ability-tables .fields,
.lootable .tab.attributes .ability-tables .fields {
  padding: 4px;
  font-size: smaller;
}
.character .tab.main .ability-tables .fields tr:nth-of-type(odd),
.character .tab.attributes .ability-tables .fields tr:nth-of-type(odd),
.npc .tab.main .ability-tables .fields tr:nth-of-type(odd),
.npc .tab.attributes .ability-tables .fields tr:nth-of-type(odd),
.lootable .tab.main .ability-tables .fields tr:nth-of-type(odd),
.lootable .tab.attributes .ability-tables .fields tr:nth-of-type(odd) {
  background-color: rgb(230, 229, 224);
}
.character .tab.main .ability-tables .fields tr:nth-of-type(even),
.character .tab.attributes .ability-tables .fields tr:nth-of-type(even),
.npc .tab.main .ability-tables .fields tr:nth-of-type(even),
.npc .tab.attributes .ability-tables .fields tr:nth-of-type(even),
.lootable .tab.main .ability-tables .fields tr:nth-of-type(even),
.lootable .tab.attributes .ability-tables .fields tr:nth-of-type(even) {
  background-color: rgb(212, 212, 211);
}
.character .tab.main .ability-tables th,
.character .tab.attributes .ability-tables th,
.npc .tab.main .ability-tables th,
.npc .tab.attributes .ability-tables th,
.lootable .tab.main .ability-tables th,
.lootable .tab.attributes .ability-tables th {
  padding: 0px;
  margin: 0px;
}
.character .tab.main .ability-tables th .percent,
.character .tab.attributes .ability-tables th .percent,
.npc .tab.main .ability-tables th .percent,
.npc .tab.attributes .ability-tables th .percent,
.lootable .tab.main .ability-tables th .percent,
.lootable .tab.attributes .ability-tables th .percent {
  width: 10%;
}
.character .tab.main .ability-tables td,
.character .tab.attributes .ability-tables td,
.npc .tab.main .ability-tables td,
.npc .tab.attributes .ability-tables td,
.lootable .tab.main .ability-tables td,
.lootable .tab.attributes .ability-tables td {
  border: 1px groove black;
  border-bottom: none;
  padding: 0px;
  margin: 0px;
}
.character .tab.main .ability-tables td input.percent,
.character .tab.attributes .ability-tables td input.percent,
.npc .tab.main .ability-tables td input.percent,
.npc .tab.attributes .ability-tables td input.percent,
.lootable .tab.main .ability-tables td input.percent,
.lootable .tab.attributes .ability-tables td input.percent {
  border: none;
  border-bottom: 1px solid;
  font-weight: 200;
  width: 40px;
  padding: 1px;
}
.character .tab.main .ability-tables td .percent,
.character .tab.attributes .ability-tables td .percent,
.npc .tab.main .ability-tables td .percent,
.npc .tab.attributes .ability-tables td .percent,
.lootable .tab.main .ability-tables td .percent,
.lootable .tab.attributes .ability-tables td .percent {
  width: 10%;
}
.character .tab.combat,
.npc .tab.combat,
.lootable .tab.combat {
  font-size: smaller;
}
.character .tab.combat .underline,
.npc .tab.combat .underline,
.lootable .tab.combat .underline {
  border-bottom: 1px solid black;
}
.character .tab.combat .weapon-block .noAmmoLeft,
.npc .tab.combat .weapon-block .noAmmoLeft,
.lootable .tab.combat .weapon-block .noAmmoLeft {
  opacity: 0.5;
}
.character .tab.combat .combat-stats,
.npc .tab.combat .combat-stats,
.lootable .tab.combat .combat-stats {
  padding: 0px;
  margin-bottom: 23px;
  height: 80px;
}
.character .tab.combat .combat-stats .combat-box,
.npc .tab.combat .combat-stats .combat-box,
.lootable .tab.combat .combat-stats .combat-box {
  height: 100%;
  justify-content: flex-start;
  align-items: center;
}
.character .tab.combat .combat-stats .armor-icon,
.character .tab.combat .combat-stats .hp-icon,
.character .tab.combat .combat-stats .movement-icon,
.character .tab.combat .combat-stats .thaco-icon,
.npc .tab.combat .combat-stats .armor-icon,
.npc .tab.combat .combat-stats .hp-icon,
.npc .tab.combat .combat-stats .movement-icon,
.npc .tab.combat .combat-stats .thaco-icon,
.lootable .tab.combat .combat-stats .armor-icon,
.lootable .tab.combat .combat-stats .hp-icon,
.lootable .tab.combat .combat-stats .movement-icon,
.lootable .tab.combat .combat-stats .thaco-icon {
  margin-right: 3px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100%;
}
.character .tab.combat .combat-stats .armor-icon,
.npc .tab.combat .combat-stats .armor-icon,
.lootable .tab.combat .combat-stats .armor-icon {
  background-image: url("icons/general/shield.webp");
  background-size: 90%;
}
.character .tab.combat .combat-stats .hp-icon,
.npc .tab.combat .combat-stats .hp-icon,
.lootable .tab.combat .combat-stats .hp-icon {
  background-image: url("icons/general/health.webp");
  background-size: 120%;
}
.character .tab.combat .combat-stats .movement-icon,
.npc .tab.combat .combat-stats .movement-icon,
.lootable .tab.combat .combat-stats .movement-icon {
  background-image: url("icons/general/leather-boot.webp");
}
.character .tab.combat .combat-stats .thaco-icon,
.npc .tab.combat .combat-stats .thaco-icon,
.lootable .tab.combat .combat-stats .thaco-icon {
  background-image: url("icons/general/combat.webp");
}
.character .tab.combat .combat-stats .hp-value,
.character .tab.combat .combat-stats .ac-value,
.character .tab.combat .combat-stats .movement-value,
.character .tab.combat .combat-stats .thaco-value,
.npc .tab.combat .combat-stats .hp-value,
.npc .tab.combat .combat-stats .ac-value,
.npc .tab.combat .combat-stats .movement-value,
.npc .tab.combat .combat-stats .thaco-value,
.lootable .tab.combat .combat-stats .hp-value,
.lootable .tab.combat .combat-stats .ac-value,
.lootable .tab.combat .combat-stats .movement-value,
.lootable .tab.combat .combat-stats .thaco-value {
  align-self: center;
  font-size: 1.75em;
  font-weight: 600;
}
.character .tab.combat .combat-stats .variant,
.character .tab.combat .combat-stats .hp-value,
.character .tab.combat .combat-stats .ac-value,
.character .tab.combat .combat-stats .movement-value,
.character .tab.combat .combat-stats .thaco-value,
.npc .tab.combat .combat-stats .variant,
.npc .tab.combat .combat-stats .hp-value,
.npc .tab.combat .combat-stats .ac-value,
.npc .tab.combat .combat-stats .movement-value,
.npc .tab.combat .combat-stats .thaco-value,
.lootable .tab.combat .combat-stats .variant,
.lootable .tab.combat .combat-stats .hp-value,
.lootable .tab.combat .combat-stats .ac-value,
.lootable .tab.combat .combat-stats .movement-value,
.lootable .tab.combat .combat-stats .thaco-value {
  flex-basis: 20px;
  flex-grow: 0;
}
.character .tab.combat .combat-stats label,
.npc .tab.combat .combat-stats label,
.lootable .tab.combat .combat-stats label {
  text-align: center;
  margin: 4px;
  height: 50px;
  flex-basis: 50px;
  flex-grow: 0;
  font-weight: normal;
}
.character .tab.combat .combat-stats .combat-value,
.npc .tab.combat .combat-stats .combat-value,
.lootable .tab.combat .combat-stats .combat-value {
  text-align: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  font-weight: normal;
}
.character .tab.combat .combat-stats .combat-label,
.npc .tab.combat .combat-stats .combat-label,
.lootable .tab.combat .combat-stats .combat-label {
  padding: 4px;
  border-right: 1px solid black;
  font-size: 0.98em;
  font-weight: 600;
}
.character .tab.combat .actions-block-list .actionGroup.action-list.noCharges,
.npc .tab.combat .actions-block-list .actionGroup.action-list.noCharges,
.lootable .tab.combat .actions-block-list .actionGroup.action-list.noCharges {
  opacity: 0.5;
}
.character .tab.combat .combat-bar,
.npc .tab.combat .combat-bar,
.lootable .tab.combat .combat-bar {
  margin-left: auto;
  font-size: 0.99em;
}
.character .tab.combat .combat-bar .combat-value,
.npc .tab.combat .combat-bar .combat-value,
.lootable .tab.combat .combat-bar .combat-value {
  text-align: center;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.character .tab.combat .combat-bar .combat-label,
.npc .tab.combat .combat-bar .combat-label,
.lootable .tab.combat .combat-bar .combat-label {
  font-weight: 700;
}
.character .tab.combat .combat-bar .bar,
.npc .tab.combat .combat-bar .bar,
.lootable .tab.combat .combat-bar .bar {
  margin: 2px;
  flex-basis: 20px;
  flex-grow: 0;
}
.character .tab.combat .combat-bar .bar-right,
.npc .tab.combat .combat-bar .bar-right,
.lootable .tab.combat .combat-bar .bar-right {
  margin: 2px;
  margin-left: auto;
  flex-basis: 20px;
  flex-grow: 0;
}
.character .tab.combat .combat-bar .initiative-block,
.npc .tab.combat .combat-bar .initiative-block,
.lootable .tab.combat .combat-bar .initiative-block {
  margin-left: 5px;
  flex-basis: 30px;
  flex-grow: 0;
}
.character .tab.combat .combat-bar .initiative-block .roll-initiative,
.npc .tab.combat .combat-bar .initiative-block .roll-initiative,
.lootable .tab.combat .combat-bar .initiative-block .roll-initiative {
  flex-basis: 30px;
  flex-grow: 0;
  font-size: 1.09em;
}
.character .tab.combat .combat-bar .initiative-block .roll-initiative:hover, .character .tab.combat .combat-bar .initiative-block .roll-initiative:focus,
.npc .tab.combat .combat-bar .initiative-block .roll-initiative:hover,
.npc .tab.combat .combat-bar .initiative-block .roll-initiative:focus,
.lootable .tab.combat .combat-bar .initiative-block .roll-initiative:hover,
.lootable .tab.combat .combat-bar .initiative-block .roll-initiative:focus {
  text-shadow: 0 0 8px red;
  cursor: pointer;
}
.character .tab.combat .matrix-block,
.npc .tab.combat .matrix-block,
.lootable .tab.combat .matrix-block {
  text-align: center;
  font-size: smaller;
}
.character .tab.combat .matrix-block .matrix-label,
.npc .tab.combat .matrix-block .matrix-label,
.lootable .tab.combat .matrix-block .matrix-label {
  font-weight: 700;
}
.character .tab.combat .matrix-block .matrix-label .ac-label,
.npc .tab.combat .matrix-block .matrix-label .ac-label,
.lootable .tab.combat .matrix-block .matrix-label .ac-label {
  border-bottom: 1px solid black;
  border-top: 1px solid black;
  border-right: 1px solid black;
}
.character .tab.combat .matrix-block .matrix-label .roll-label,
.npc .tab.combat .matrix-block .matrix-label .roll-label,
.lootable .tab.combat .matrix-block .matrix-label .roll-label {
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}
.character .tab.combat .matrix-block .ac,
.character .tab.combat .matrix-block .hit,
.npc .tab.combat .matrix-block .ac,
.npc .tab.combat .matrix-block .hit,
.lootable .tab.combat .matrix-block .ac,
.lootable .tab.combat .matrix-block .hit {
  padding: 1px;
}
.character .tab.combat .matrix-block .ac,
.npc .tab.combat .matrix-block .ac,
.lootable .tab.combat .matrix-block .ac {
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}
.character .tab.combat .matrix-block .hit,
.npc .tab.combat .matrix-block .hit,
.lootable .tab.combat .matrix-block .hit {
  border: 1px solid black;
}
.character .tab.combat .matrix-block.flexrow .flexcol:hover,
.npc .tab.combat .matrix-block.flexrow .flexcol:hover,
.lootable .tab.combat .matrix-block.flexrow .flexcol:hover {
  background: rgb(56, 54, 54);
  color: white;
  scale: 1.3;
}
.character .tab.items,
.npc .tab.items,
.lootable .tab.items {
  font-size: smaller;
}
.character .tab.items .currency .coin-value input.coins,
.npc .tab.items .currency .coin-value input.coins,
.lootable .tab.items .currency .coin-value input.coins {
  border: none;
  border-bottom: 1px solid black;
}
.character .tab.proficiencies,
.npc .tab.proficiencies,
.lootable .tab.proficiencies {
  font-size: smaller;
}
.character .tab.details,
.npc .tab.details,
.lootable .tab.details {
  font-size: smaller;
  text-align: center;
}
.character .tab.details .effect-list-types,
.npc .tab.details .effect-list-types,
.lootable .tab.details .effect-list-types {
  border-bottom: 1px groove black;
}
.character .tab.details .class-list .inactive,
.npc .tab.details .class-list .inactive,
.lootable .tab.details .class-list .inactive {
  opacity: 0.5;
}
.character .tab.details .class-list li:nth-of-type(odd),
.npc .tab.details .class-list li:nth-of-type(odd),
.lootable .tab.details .class-list li:nth-of-type(odd) {
  background-color: rgb(230, 229, 224);
}
.character .tab.details .class-list li:nth-of-type(even),
.npc .tab.details .class-list li:nth-of-type(even),
.lootable .tab.details .class-list li:nth-of-type(even) {
  background-color: rgb(212, 212, 211);
}
.character .tab.details .class-list .class-controls,
.npc .tab.details .class-list .class-controls,
.lootable .tab.details .class-list .class-controls {
  flex: 0 0 50px;
  font-size: 0.99em;
}
.character .tab.description .desc-label,
.character .tab.description .desc-value,
.npc .tab.description .desc-label,
.npc .tab.description .desc-value,
.lootable .tab.description .desc-label,
.lootable .tab.description .desc-value {
  margin-left: 5px;
  margin-bottom: 5px;
}
.character .tab.description .desc-label,
.npc .tab.description .desc-label,
.lootable .tab.description .desc-label {
  flex-basis: 50px;
  flex-grow: 0;
  font-weight: 700;
}
.character .tab.description .desc-value,
.npc .tab.description .desc-value,
.lootable .tab.description .desc-value {
  flex-grow: 1;
}
.character .inventory,
.npc .inventory,
.lootable .inventory {
  min-height: 24px;
}

.item-damage.text-trunc,
.item-type.text-trunc {
  text-align: center;
}

.items-list.effects-list {
  text-align: left;
}

.effect-source {
  text-align: left;
}

.item-titles .item,
.item-list .item {
  height: 30px;
  line-height: 24px;
  padding: 1px 0;
  border-bottom: 1px solid #bbb;
}

.item-list .ammo-container {
  margin-left: 10px;
  margin-bottom: 5px;
  padding-right: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 1px;
  /* Spacing between squares */
  width: 100%;
  overflow: hidden;
  /* Ensure the gradient doesn't spill out */
}
.item-list .ammo-square {
  width: 10px;
  /* Width of each square */
  height: 10px;
  /* Height of each square */
  background-color: #ddd;
  /* Color for empty squares */
  border: 1px solid #aaa;
  /* Border for squares */
}
.item-list .ammo-icon {
  font-size: 10px;
  /* Small icon size */
  color: #444;
  /* Color for available ammo */
}
.item-list .ammo-icon.far {
  color: #ddd;
  /* Color for empty ammo slots */
}
.item-list .ammo-square.filled {
  background-color: #444;
  /* Color for filled squares */
}
.item-list .item-provision {
  /* Start gradient when quantity is less than 7 */
  /* Solid red for zero quantity */
}
.item-list .item-provision .item-quantity-bar-container {
  font-size: 0.85em;
  background-color: #b1b1b1;
  /* Fallback color */
  border-radius: 3px;
  width: 100%;
  overflow: hidden;
  /* Ensure the gradient doesn't spill out */
}
.item-list .item-provision .item-quantity-bar {
  height: 10px;
  border-radius: 3px;
  transition: width 0.3s ease, background 0.3s ease;
  max-width: 100%;
  /* Solid green for high quantity */
  background-color: #4caf50;
  display: flex;
  /* Make this a flex container too */
  justify-content: center;
  /* Center content horizontally */
  align-items: center;
  /* Center content vertically */
  font-weight: bold;
}
.item-list .item-provision .item-quantity-bar[data-quantity="6"],
.item-list .item-provision .item-quantity-bar[data-quantity="5"] {
  background: linear-gradient(to right, #f44336, #ffeb3b, #4caf50);
}
.item-list .item-provision .item-quantity-bar[data-quantity="4"],
.item-list .item-provision .item-quantity-bar[data-quantity="3"],
.item-list .item-provision .item-quantity-bar[data-quantity="2"] {
  background: linear-gradient(to right, #f44336, #ffeb3b);
}
.item-list .item-provision .item-quantity-bar[data-quantity="1"],
.item-list .item-provision .item-quantity-bar[data-quantity="0"] {
  background: #f44336;
}
.item-list .item-provision .item-quantity-bar[data-quantity="0"] {
  background-color: #f44336;
}

.carried-weight.actor-titles.flexrow {
  height: 30px;
  display: flex;
  align-content: center;
  background: #ebebeb;
}

.general-header .fas.fa-plus {
  float: right;
  margin-right: 10px;
  margin-top: 1px;
}

/* #region advanced search and filtering */
/* toggle search panel */
.btn_toggle_search {
  margin-left: 10px;
}

/* search control generic class */
.adv_search_control {
  float: left !important;
  width: 170px !important;
  background: white !important;
  border-radius: 6px !important;
}

/* advanced search/filtering panel */
.pnl_search_controls {
  overflow: hidden;
  max-height: 30px;
  margin-bottom: 0px;
}

/*#endregion*/
/* #region generic collapsible system */
.ars_clps {
  padding-left: 5px;
}

.ars_clps:before {
  font-family: "Font Awesome 6 Pro";
  content: "\f0d7";
  font-weight: 900;
  font-size: 1.1em;
  margin-right: 5px;
}

.ars_clps.ars_clps_on:before {
  content: "\f0da";
}

.ars_clps_container {
  display: block;
}

.ars_clps.ars_clps_on + .ars_clps_container {
  display: none !important;
}

/* #endregion */
.attack-result-container {
  text-align: center;
  padding: 5px;
}

.check-flavor.dice-flavor {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 5px;
}

.check-test {
  margin-bottom: 10px;
}

.sheet-card .spell-details,
.sheet-card .chat-description {
  padding: 10px !important;
}

.chatCard-expand-view {
  height: 15px;
}

.sheet-card .fa-expand-alt::after {
  content: "Expand Details:";
  font-size: var(--font-size-13);
  font-family: var(--font-primary);
  margin-left: 5px;
  font-weight: 100;
}

.sheet-card .fa-compress-alt::after {
  content: "";
}

.sheet-card .fa-expand-alt:before,
.sheet-card .fa-compress-alt::before {
  content: "\f424";
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  margin-left: -5px;
  background: #bfbfbf;
}

.combat-situationals {
  margin: 1px;
}
.combat-situationals input {
  text-align: center;
  width: 24px;
  border-top: none;
  border-left: none;
  border-right: none;
}
.combat-situationals .situation {
  font-weight: 700;
}
.combat-situationals .flexcol {
  flex: 0 0 30px;
}
.combat-situationals .attack-left {
  text-align: left;
}
.combat-situationals .damage-right {
  text-align: right;
  justify-content: right;
}

.failedCheck {
  background-color: rgb(194, 167, 167);
}

.succeedCheck {
  background-color: rgb(198, 218, 198);
}

.hitSuccess {
  background-color: rgb(198, 218, 198);
}

.hitFailed {
  background-color: rgb(194, 167, 167);
}

.hpdamage {
  background-color: palevioletred;
}

.hpheal {
  background-color: aquamarine;
}

.attackResult,
.rolledText,
.testResult,
.hpadjustment,
.undoButton,
.spellCard-name,
.weaponCard-name {
  justify-content: center;
  text-align: center;
  align-items: center;
  border: 1px groove;
  border-radius: 5px;
  margin-top: 1px;
  margin-bottom: 1px;
  margin-right: 2px;
  margin-left: 2px;
}

.center-text {
  text-align: center;
}

.rolledTotal {
  font-weight: bold;
  font-size: larger;
}

.card-buttons {
  margin-top: 4px;
}

.chatCard-button {
  height: 34px;
  width: 99%;
  margin-bottom: 2px !important;
}

.chatCard-button:hover {
  box-shadow: none !important;
  background-color: var(--color-border-light-primary);
  color: white;
}

.chatCard-button .flexrow .action-icon {
  flex-basis: 32px;
}

.traded-list {
  padding: 1px 0;
  border-bottom: 1px solid #bbb;
}
.traded-list div:nth-of-type(odd) {
  background-color: rgb(230, 229, 224);
}
.traded-list div:nth-of-type(even) {
  background-color: rgb(212, 212, 211);
}
.traded-list .tradeChat-list {
  padding: 1px;
}

.action-card .general-subheader,
.attack-card .general-subheader,
.weapon-card .general-subheader,
.actionChat-list .general-subheader,
.skill-card .general-subheader,
.dice-roll .general-subheader,
.tradeChat-list .general-subheader {
  background-color: var(--ars_purple_dark);
  color: white !important;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-primary);
  font-weight: 900 !important;
  border-radius: 0 5px 5px 0;
  padding-right: 40px;
  font-size: 1em !important;
}
.action-card .short-field img,
.attack-card .short-field img,
.weapon-card .short-field img,
.actionChat-list .short-field img,
.skill-card .short-field img,
.dice-roll .short-field img,
.tradeChat-list .short-field img {
  border: none;
}
.action-card .action-icon,
.attack-card .action-icon,
.weapon-card .action-icon,
.actionChat-list .action-icon,
.skill-card .action-icon,
.dice-roll .action-icon,
.tradeChat-list .action-icon {
  flex-basis: 25px;
  flex-grow: 0;
  font-size: 0.99em;
  padding-right: 3px;
}
.action-card .action-icon img,
.attack-card .action-icon img,
.weapon-card .action-icon img,
.actionChat-list .action-icon img,
.skill-card .action-icon img,
.dice-roll .action-icon img,
.tradeChat-list .action-icon img {
  vertical-align: middle;
  border: none;
}

.chat-message.img.chat-profile-img {
  flex: 0 0 64px;
  height: 64px;
  width: 64px;
  margin-right: 10px;
}

.chat-message button,
.app.window-app.ars button {
  border-radius: 5px;
}
.chat-message select,
.app.window-app.ars select {
  border-radius: 5px;
}
.chat-message .hpadjustment,
.chat-message .testResult,
.app.window-app.ars .hpadjustment,
.app.window-app.ars .testResult {
  margin-bottom: 10px;
}
.chat-message .window-content .action-title,
.chat-message .message-content .action-title,
.app.window-app.ars .window-content .action-title,
.app.window-app.ars .message-content .action-title {
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
}
.chat-message .window-content .chatCard-description,
.chat-message .message-content .chatCard-description,
.app.window-app.ars .window-content .chatCard-description,
.app.window-app.ars .message-content .chatCard-description {
  margin-top: 2px;
  margin-bottom: 2px;
  background: rgb(240, 239, 209);
  padding: 8px;
  border-radius: 5px;
}
.chat-message .window-content .chatCard-description-short,
.chat-message .message-content .chatCard-description-short,
.app.window-app.ars .window-content .chatCard-description-short,
.app.window-app.ars .message-content .chatCard-description-short {
  min-height: 5px;
  max-height: 90px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat-message .window-content .chatCard-description-full,
.chat-message .message-content .chatCard-description-full,
.app.window-app.ars .window-content .chatCard-description-full,
.app.window-app.ars .message-content .chatCard-description-full {
  white-space: wrap;
}
.chat-message .window-content .dice-flavor,
.chat-message .window-content .check-result,
.chat-message .window-content .attack-results,
.chat-message .message-content .dice-flavor,
.chat-message .message-content .check-result,
.chat-message .message-content .attack-results,
.app.window-app.ars .window-content .dice-flavor,
.app.window-app.ars .window-content .check-result,
.app.window-app.ars .window-content .attack-results,
.app.window-app.ars .message-content .dice-flavor,
.app.window-app.ars .message-content .check-result,
.app.window-app.ars .message-content .attack-results {
  padding: 10px;
  width: auto;
  text-align: center;
  border-radius: 5px;
  font-size: 1.5em;
}
.chat-message .window-content .a25-image,
.chat-message .message-content .a25-image,
.app.window-app.ars .window-content .a25-image,
.app.window-app.ars .message-content .a25-image {
  flex-basis: 50px;
  flex-grow: 0;
  background-color: var(--color-text-dark-primary);
}
.chat-message .window-content .a25-image img,
.chat-message .message-content .a25-image img,
.app.window-app.ars .window-content .a25-image img,
.app.window-app.ars .message-content .a25-image img {
  vertical-align: middle;
}
.chat-message .window-content .actor-save-img,
.chat-message .window-content .actor-damage-img,
.chat-message .message-content .actor-save-img,
.chat-message .message-content .actor-damage-img,
.app.window-app.ars .window-content .actor-save-img,
.app.window-app.ars .window-content .actor-damage-img,
.app.window-app.ars .message-content .actor-save-img,
.app.window-app.ars .message-content .actor-damage-img {
  flex-basis: 50px;
  flex-grow: 0;
}
.chat-message .window-content .actor-save-img img,
.chat-message .window-content .actor-damage-img img,
.chat-message .message-content .actor-save-img img,
.chat-message .message-content .actor-damage-img img,
.app.window-app.ars .window-content .actor-save-img img,
.app.window-app.ars .window-content .actor-damage-img img,
.app.window-app.ars .message-content .actor-save-img img,
.app.window-app.ars .message-content .actor-damage-img img {
  vertical-align: middle;
}
.chat-message .window-content .dice-roll .initiative-flavor,
.chat-message .message-content .dice-roll .initiative-flavor,
.app.window-app.ars .window-content .dice-roll .initiative-flavor,
.app.window-app.ars .message-content .dice-roll .initiative-flavor {
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
  color: white;
  padding: 1px;
}
.chat-message .window-content .spell-card .grid-container,
.chat-message .message-content .spell-card .grid-container,
.app.window-app.ars .window-content .spell-card .grid-container,
.app.window-app.ars .message-content .spell-card .grid-container {
  display: inline-grid;
  grid-template-columns: auto auto;
  margin-top: 2px;
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 1px;
  width: 100%;
}
.chat-message .window-content .spell-card .grid-item,
.chat-message .message-content .spell-card .grid-item,
.app.window-app.ars .window-content .spell-card .grid-item,
.app.window-app.ars .message-content .spell-card .grid-item {
  padding: 1px;
  text-align: left;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.chat-message .window-content .spell-card .spell-title,
.chat-message .message-content .spell-card .spell-title,
.app.window-app.ars .window-content .spell-card .spell-title,
.app.window-app.ars .message-content .spell-card .spell-title {
  font-weight: bold;
  font-size: 1.3em;
  color: red;
  text-align: center;
}
.chat-message .window-content .spell-card .spell-title .content-link,
.chat-message .message-content .spell-card .spell-title .content-link,
.app.window-app.ars .window-content .spell-card .spell-title .content-link,
.app.window-app.ars .message-content .spell-card .spell-title .content-link {
  background-color: black;
}

.character table,
.character tr,
.character th,
.character td,
.npc table,
.npc tr,
.npc th,
.npc td {
  padding: 1px;
}
.character table .table-headers,
.character tr .table-headers,
.character th .table-headers,
.character td .table-headers,
.npc table .table-headers,
.npc tr .table-headers,
.npc th .table-headers,
.npc td .table-headers {
  background: transparent;
}

.sidebar-tab .party-tracker {
  padding: 1px;
  margin: 1px;
}
.sidebar-tab .party-tracker .general-header {
  text-align: left;
  padding-left: 5px;
  font-size: 1rem;
  font-weight: normal;
  background: transparent;
  color: #fff;
  margin: 3px 0 3px 0;
}
.sidebar-tab .party-tracker .general-subheader {
  text-align: center;
  font-weight: bold;
  padding: 3px;
}
.sidebar-tab .party-tracker .general-footer {
  min-height: 3px;
  width: 100%;
}
.sidebar-tab .party-tracker input,
.sidebar-tab .party-tracker select {
  color: black;
}
.sidebar-tab .party-tracker .party-commands .boxed {
  text-align: center;
  font-size: 0.75rem;
  border: 0.5px solid var(--color-bg-btn-minor-active);
  border-radius: 6px;
  margin-right: 2px;
}
.sidebar-tab .party-tracker .party-commands .boxed:hover, .sidebar-tab .party-tracker .party-commands .boxed:focus {
  background-color: grey;
  cursor: pointer;
}
.sidebar-tab .party-tracker .party-commands .boxed .time-type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.sidebar-tab .party-tracker .party-members .entry {
  align-items: center;
}
.sidebar-tab .party-tracker .party-members .entry .member {
  font-size: large;
  font-weight: bold;
}
.sidebar-tab .party-tracker .party-members .entry .henchman {
  color: aqua;
}
.sidebar-tab .party-tracker .party-members .entry .token-image {
  margin: 0;
  flex: 0 0 32px;
  height: 32px;
  margin-right: 10px;
}
.sidebar-tab .party-tracker .party-logs .date {
  color: gray;
}
.sidebar-tab .party-tracker .party-logs .log {
  color: greenyellow;
}
.sidebar-tab .party-tracker .control {
  flex-basis: 25px;
  flex-grow: 0;
  text-align: center;
  font-size: 0.99em;
}
.sidebar-tab .party-tracker .party-awards .award-xp {
  flex-shrink: 1;
}
.sidebar-tab .party-tracker select.award-destination {
  width: 100px;
}

article.journal-entry-page,
.editor {
  background: white;
  box-sizing: content-box;
  border-width: 3px;
  border-style: inset;
  border-image: linear-gradient(to right, rgba(173, 30, 30, 0.82), rgba(173, 30, 30, 0.82));
  border-image-slice: 1;
  padding: 5px;
  margin-left: 115px;
  margin-right: 15px;
  margin: 20px;
}
article.journal-entry-page section.journal-page-content,
article.journal-entry-page .editor-content,
.editor section.journal-page-content,
.editor .editor-content {
  margin: 20px;
}
article.journal-entry-page section.journal-page-content img,
article.journal-entry-page .editor-content img,
.editor section.journal-page-content img,
.editor .editor-content img {
  border: 5px groove;
}
article.journal-entry-page section.journal-page-content h1,
article.journal-entry-page .editor-content h1,
.editor section.journal-page-content h1,
.editor .editor-content h1 {
  border-bottom: 3px double black;
  color: rgb(204, 3, 3);
}
article.journal-entry-page section.journal-page-content h2,
article.journal-entry-page .editor-content h2,
.editor section.journal-page-content h2,
.editor .editor-content h2 {
  border-bottom: 3px double black;
  color: rgb(146, 3, 3);
}
article.journal-entry-page section.journal-page-content h3,
article.journal-entry-page .editor-content h3,
.editor section.journal-page-content h3,
.editor .editor-content h3 {
  color: rgb(7, 118, 245);
}
article.journal-entry-page section.journal-page-content h4,
article.journal-entry-page .editor-content h4,
.editor section.journal-page-content h4,
.editor .editor-content h4 {
  color: rgb(7, 118, 245);
}

.trade-box .trade-window {
  height: 100%;
}
.trade-box .trade-window .trade-icon {
  flex-basis: 25px;
  flex-grow: 0;
  font-size: 0.99em;
  padding-right: 3px;
}
.trade-box .trade-window .trade-icon img {
  vertical-align: middle;
}
.trade-box .trade-window .currency {
  border: 1px solid #bbb;
}
.trade-box .trade-window .trade-panel {
  border: 1px solid black;
  margin: 2px;
  padding: 2px;
  height: 100%;
  width: 100%;
  overflow: scroll;
}
.trade-box .trade-window .accept-trade-button {
  padding: 10px 20px;
  background-color: lightblue;
  cursor: pointer;
  margin-top: 20px;
  text-align: center;
}
.trade-box .trade-window #trader-inventory,
.trade-box .trade-window #trader-trade,
.trade-box .trade-window #customer-trade.list {
  padding: 1px 0;
  border-bottom: 1px solid #bbb;
}
.trade-box .trade-window #trader-inventory div:nth-of-type(odd),
.trade-box .trade-window #trader-trade div:nth-of-type(odd),
.trade-box .trade-window #customer-trade.list div:nth-of-type(odd) {
  background-color: rgb(230, 229, 224);
}
.trade-box .trade-window #trader-inventory div:nth-of-type(even),
.trade-box .trade-window #trader-trade div:nth-of-type(even),
.trade-box .trade-window #customer-trade.list div:nth-of-type(even) {
  background-color: rgb(212, 212, 211);
}
.trade-box .trade-window #trader-inventory .trader-trade-item,
.trade-box .trade-window #trader-inventory .trader-inventory-item,
.trade-box .trade-window #trader-inventory .customer-trade-item,
.trade-box .trade-window #trader-trade .trader-trade-item,
.trade-box .trade-window #trader-trade .trader-inventory-item,
.trade-box .trade-window #trader-trade .customer-trade-item,
.trade-box .trade-window #customer-trade.list .trader-trade-item,
.trade-box .trade-window #customer-trade.list .trader-inventory-item,
.trade-box .trade-window #customer-trade.list .customer-trade-item {
  overflow: hidden;
  text-overflow: ellipsis;
  flex-grow: 3;
  flex-shrink: 0;
}
.trade-box .trade-window #trader-inventory .trader-inventory-item-quantity,
.trade-box .trade-window #trader-inventory .trader-trade-item-quantity,
.trade-box .trade-window #trader-inventory .customer-trade-item-quantity,
.trade-box .trade-window #trader-trade .trader-inventory-item-quantity,
.trade-box .trade-window #trader-trade .trader-trade-item-quantity,
.trade-box .trade-window #trader-trade .customer-trade-item-quantity,
.trade-box .trade-window #customer-trade.list .trader-inventory-item-quantity,
.trade-box .trade-window #customer-trade.list .trader-trade-item-quantity,
.trade-box .trade-window #customer-trade.list .customer-trade-item-quantity {
  overflow: hidden;
  text-overflow: ellipsis;
  min-width: 0;
  max-width: 40px;
}

div.gm-screen-grid-cell-content-wrapper > div > div > aside {
  color: black !important;
}

.item-browser-sheet .flexrow > div:not(:last-child),
.actor-browser-sheet .flexrow > div:not(:last-child) {
  margin-right: 5px;
}